{% extends "base.html.twig" %}

{% block body %}
    <h1 class="mb-3"> Ajoute une Catégorie : </h1>
    {{ form_start(form) }}

    <div class="container text-center">
        <div class="form-group py-4">
            {{ form_label(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div>
            <input class="btn btn-primary mt-3 py-4" type='submit' value='Add category'>
            {{ form_end(form) }}
        </div>

        <a class="mt-3" href="{{ path('category_index') }}">
            Retour à la liste des catégories
        </a>
    </div>
{% endblock %}