<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <a href="{{ path('app_index') }}"><img class="logo text-center" width="150" height="140" src="{{ asset('build/Logo_popcorn.png') }}" alt="logo"></a>
        <a class="navbar-brand text-light" href="{{ path('app_index') }}">Wild Series</a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{path('category_index')}}">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{path('program_index')}}">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Actors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Watchlist</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
